.header {
  width: 100vw;
  height: 9vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  background-color: var(--body-color);
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 7rem;
}
.nav a {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
}
.active span,
.nav span:hover {
  color: var(--title-color-dark);
  font-weight: 900;
}

.nav-icon {
  display: none;
}
.nav li {
  position: relative;
  cursor: pointer;
  color: var(--text-color);
  font-size: 2rem;
}
.nested-ul-1 {
  display: none;
  position: absolute;
  background-color: var(--container-color);
  width: 156px;
  height: 8rem;
  left: 0;
  top: 4.7rem;
}

.nested-ul-1 li {
  padding-top: 0.5rem;
}
.nav li:hover {
  color: var(--title-color);
}


.nav .li .uil-brackets-curly {
  display: none;
}
.scroll {
  display: none;
}
/* media screen */
@media (max-width: 1099px) {
  html {
    font-size: 55.5%;
  }
 
  .nav .li {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    top: initial;
    bottom: 0;
  }
  .header h3 {
    display: none;
  }
  .nav-icon {
    display: block;
  }
 
}
@media (max-width: 599px) {
  .header{
    display: none;
  }
  .bxs-moon {
    font-size: smaller;
  }
  .nav span {
    display: none;
  }
 
}
