    .header{
        width: 100vw;
        height: 9vh;
        position: fixed;
    top: 0;left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
background-color:var(--body-color);

}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 7rem;
}
.nav a{
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
}
.active span,.nav span:hover{
 color: var(--title-color-dark);
 font-weight: 900;
}

.nav-icon{
    display: none;
}
.nav li{
    position: relative;
    cursor:pointer;
    color: var(--text-color);
}
.nested-ul-1{
    display: none;
    position: absolute;
    background-color:var(--container-color);
    width: 156px;
    height: 8rem;
    left: 0;
    top: 4.7rem;
}

.nested-ul-1 li{
    padding-top: .5rem;
}
.nav li:hover{
    color: var(--title-color)
}
.hero{
background-color:var(--body-color);
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.social{
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.social a{
    color:var(--text-color);
}
.personal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}
.background{
    height: 60vh;
    animation: raju 8s ease-in-out infinite 1s;
}
@keyframes raju{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60% ;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.about{
    height: 100vh;
}
.intro{
    text-align: center;
    
}
.intro p{
    padding-top: 1rem;
    text-decoration:overline;
}
.a{
    /* height: 70vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-content: center;
}
.aa,.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5rem;
}
.aa div{
    text-align: center;
    border-radius: .2rem;
    padding: 1rem;
    color: var(--title-color-dark);
    background-color:var(--container-color);
}
.aa div h3{
    text-align: center;
    padding: .5rem;
}
.background-2{
    width: 30%;
}
.grid{
    height: 100vh; 
    width: 100vw;
    display: flex;

    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 5rem;
    gap: 5%; 
}
.skill{
    height: 60%;
    width: 30%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
    
}
.skill p{
    color: var(--title-color);
}
.skill h3{
    color: var(--title-color);
    grid-column-start: 1;
    grid-column-end: 3;
    text-decoration:overline;
}
.skill:hover{
    border:1px solid var(--title-color);
}
.skill h3:hover{
    color: var(--title-color-dark);
}
.skill p:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.a2{
    height: 100vh;
 align-items: center;
}
.h2{
    color: var(--text-color);
    font-size: 5rem;
}
.edu{
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.edu div{
    text-align: center;
    width: 30rem;
}
.edu div p{
    padding: .5rem;
}
.exp{
    display: flex;
    flex-direction: column;
    height:  55.9vh;
}
.exp h4 {
    padding: 10rem 0;
}
.part{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 5rem;
}

.page{
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 8%;
    align-content: center;
}
.contact{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}
.talk{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}
.talk .btn{
    align-self: flex-start;
}
.talk div{
    padding: 2rem;
}
.talk div ,.talk input{
    background-color: var(--container-color);
    border: 1px solid var(--text-color);
    border-radius: 1rem;
}

.talk input{
    width: 25rem;
    height : 5rem;
    padding: 1rem;
}
.talk .msg{
    height: 8rem;
}
.project{
    height: 120vh;
}
.headline{
    text-align: center;
    padding-top: 8rem;
}
.fea{
    display: grid;
    align-items: center;
    grid-template-columns: 40rem 40rem 40rem;
    justify-content: space-evenly;
gap: 1.5rem;
padding-top: 1.8rem;
}
.div{
    padding: 2.5rem 2rem;
    background:var(--container-color);
    text-align: center;
    line-height: 3rem;
    --box-shadow:0.5rem 1.5rem rgba(208, 188, 188, 0.1);
    
}
    .div img{
        height: 18rem;
    }
    .test-container{
        width: 750px;
    }
    .test-child{
        background-color:var(--container-color);
    }
    
    .nav .li .uil-brackets-curly{
        display: none;
    }
    .scroll{
        display: none;
    }
/* media screen */
@media(max-width:1099px){
    .background{
        height: 35vh;
    }
    html{
        font-size: 55.5%;
    }
    .skill{
        width: 40%;
    }
    .fea{
        height: 70%;
        grid-template-columns: 30rem 30rem 30rem;
    }
    
    .div img{
        height: 15rem;
    }
    .nav .li{
        display: none;
    }
}

@media (max-width:768px){
    .header{
        top: initial;
        bottom: 0;
    }
    .header h3{
        display: none;
    }
    .nav-icon{
        display: block;
    }   
    .hero{
        height: 90vh;
        flex-direction: column;
        justify-content:space-around;
    }
    .personal{
        order: 2;
    }
    .social{
        flex-direction: row;
    }
    .a button{
        
        align-self: center;
    }
    .fea{
        height: 70%;
        grid-template-columns: 40rem;
    }
    .project{
        height: 300vh;        
    }
    .headline{
        padding-top: 3rem;
    }
    
    .bx-border-bottom{
        border-top: .7px solid var(--text-color) ;
      }
}
@media (max-width:599px){
    .bxs-moon{
        font-size:smaller;
    }
    .nav span{
            display: none;
    }
    .grid{
        height: 90vh;
        justify-content: space-evenly;
        flex-direction: column;
    }   
    .background-2{
    width: 50%;       
    }
   .a2{
    height: 80vh;
    justify-content: space-evenly;
        flex-direction: column;
   } 
   .skill{
    height: 40%;
    width: 80%;
    grid-template-columns: auto auto auto;
   }
   .skill h3{
    grid-column-start: 1;
    grid-column-end: 4;
   }
   .page{
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    }
    .talk{
        gap: 2rem;
    }
    .talk .btn{
        align-self: center;
    }
 .scroll{
    display: block;
    position: fixed;
    bottom: 15rem;
    left: 3rem;
    font-size: 3rem;
 }
}